.menu-principal{
background:linear-gradient(#FF8015,#FF841B);
/*
background-color:#FF8015;
*/
color:black;
font-weight:bold;
border-radius:5px;
}
.menu-principal{
list-style: none;
margin-left:25px;
padding-left: 1em;
text-indent: 0em;
padding-top:1px;
padding-bottom:1px;
}
.menu-principal li:before{
content: "\00BB \0020";
}
.menu-principal li{
margin-top:5px;
margin-bottom:5px;
padding-top:7px;
padding-bottom:7px;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
font-size:80%;
}

@keyframes ani-unselected{
    from {background-color: #EEE;
		  color:#FF841B;
		  margin-left:0px;
		  }
    to {background-color: #FF841B;
		color:white;
		margin-left:-14px;
		}
}

.menu-principal li.unselected{
border:1px solid #EEE;
background-color:#EEE;
margin-right:4px;
cursor:pointer;
}
.menu-principal li.unselected:hover{
margin-left:-14px;
color:white;
background-color:#FF841B;
animation-name: ani-unselected;
animation-duration: 0.5s;
}
.menu-principal li.selected{
margin-left:-14px;
border-top:1px solid white;
border-left:1px solid white;
border-bottom:1px solid white;
background-color:white;
margin-right:0;
color:#FF8015;
cursor:default;
}
.menu-principal li.selected:hover{
color:black;
}
div.opcion{
width:98%;
height:98%;
display:none;
position: sticky;
z-index: 1;
}
.tabFp li{
font-size:14px;
}
.cont-op{
	/*height: 100%;*/
	/*max-height: 380px;*/
	/*overflow: auto;*/
}